.App {
  /* text-align: center; */
  /* margin: auto; */
  /* display: flex; */
}

/* ------SIGN UP FORM------ */
.signup-form input {
  padding: 10px;
  border-radius: 10px;
  width: 350px;
  font-size: 18px;
  margin: 10px;
  /* border-style: ridge; */
}

.signup-form h1 {
  font-size: 30px;
  margin: 10px;
}

.signup-form .error {
  font-size: 16px;
  font-style: italic;
  color: red;
}

.errors {
  color: red;
  font-size: 14px;
  line-height: 1px;
  font-style: italic;
}

/* ------BUTTON STYLING------ */
.main-btn-style {
  font-family: var(--main-font);
  font-size: 18px;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  margin-top: 15px;
  cursor: pointer;
  background: var(--second-bg-color);
  transition: var(--main-transition);
}

.main-btn-style:hover {
  font-weight: bold;
  font-size: 20px;
  box-shadow: var(--secondary-box-shadow);
}

.second-btn-style {
  font-family: var(--main-font);
  font-size: 14px;
  width: 50%;
  max-width: 300px;
  padding: 5px;
  border-radius: 5px;
  border-style: none;
  margin-top: 4px;
  cursor: pointer;
  background: var(--second-bg-color);
  transition: var(--main-transition) ease-out;
  box-shadow: var(--main-box-shadow);
}

.brew-card:hover .second-btn-style {
  background: var(--main-bg-color);
}

.second-btn-style:hover {
  font-weight: bold;
  box-shadow: var(--secondary-box-shadow);
}

.text-box {
  padding: 10px;
  font-family: "Roboto";
  border-radius: 5px;
  width: 80%;
  height: 100px;
  font-size: 18px;
  /* margin: 10px; */
}

.title {
  font-family: var(--secondary-font);
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-sm {
  font-family: var(--secondary-font);
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ------SEARCHBAR STYLING------ */
.search-bar-container {
  display: flex;
  position: sticky;
  background-color: var(--main-color);
  top: 0;
  width: 100%;
  z-index: 5;
  box-shadow: var(--main-box-shadow);
  transition: 0.2s ease;
}

.search-bar-container:focus-within {
  border-bottom: 3px solid;
  border-image: linear-gradient(
      0.25turn,
      var(--hover-color),
      rgba(255, 201, 24, 0.212)
    )
    1;
}

.search-bar {
  padding: 20px;
  flex-grow: 1;
  font-size: 16px;
  outline: none;
  border: none;
}

.search-button {
  border: none;
  width: 13%;
  max-width: 100px;
  transition: 0.1s;
  transition-timing-function: linear;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(228, 228, 228);
}

.search-btn-middle-bar {
  border-right: 1px solid var(--second-bg-color);
  opacity: 75%;
}

/* ------AUTO COMP STYLING------ */
.auto-comp-container {
  padding-top: 32px;
  box-sizing: border-box;
  height: 25vh;
  width: 100%;
  overflow-y: scroll;
  box-shadow: inset var(--secondary-box-shadow);
  border-bottom: 3px solid;
  border-image: linear-gradient(
      0.25turn,
      var(--hover-color),
      rgba(255, 201, 24, 0.212)
    )
    1;
}

.auto-comp-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.auto-comp-container ul {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: left;
  cursor: pointer;
  transform: translateY(-2em);

  /* FOR DROPDOWN TRANSTION EFFECT */
  /* z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s; */
}

.auto-comp-container li {
  list-style-type: none;
  font-family: var(--main-font);
  border-bottom: solid 0.3px rgba(85, 84, 82, 0.041);
  padding: 6px 10px 6px 10px;
  transition: var(--main-transition);
}

.auto-comp-container li:hover {
  font-weight: bolder;
  font-size: 17px;
  background: var(--second-bg-color);
}

.welcome-name {
  font-size: 60px;
  margin: 10px;
  font-family: var(--secondary-font);
}

.user-reviews-display {
  padding: 12px;
  position: sticky;
  top: 58px;
  font-family: var(--main-font);
  color: gray;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--main-color);
  z-index: 6;
  box-shadow: var(--main-box-shadow);
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}

/* ------ UserProfile Styling ------ */
.profile-container {
  margin: auto;
  font-family: var(--main-font);
  width: 75%;
}

.user-reviews-list {
  border: 2px solid black;
  border-radius: 15px;
  padding: 4px;
  height: 50vh;
  overflow-y: scroll;
}

.user-review {
  padding: 10px;
  margin: 0;
  list-style-type: none;
  text-align: left;
  /* border-bottom: solid 0.3px rgba(85, 84, 82, 0.041); */
  border-top: solid 0.3px rgba(85, 84, 82, 0.315);
}

.user-review h3,
p {
  margin: 0;
}

/* .gm-style .gm-style-iw-c {
  background-color: black;
} */
