.App {
  text-align: center;
  margin: auto;
  display: flex;
}

.content {
  /* padding: 30px; */
}

.errors {
  color: red;
  font-size: 14px;
  line-height: 1px;
  font-style: italic;
}

.signup-form input {
  padding: 10px;
  border-radius: 10px;
  width: 350px;
  font-size: 18px;
  margin: 10px;
  /* border-style: ridge; */
}

.signup-form h1 {
  font-size: 30px;
  margin: 10px;
}

.main-btn-style {
  font-family: var(--main-font);
  font-size: 18px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  margin-top: 15px;
  cursor: pointer;
  box-shadow: var(--main-box-shadow);
  transition: var(--main-transition);
}

.main-btn-style:hover {
  font-weight: bold;
  box-shadow: var(--secondary-box-shadow);
}

.signup-form .error {
  font-size: 16px;
  font-style: italic;
  color: red;
}

.text-box {
  padding: 10px;
  font-family: "Roboto";
  border-radius: 5px;
  width: 80%;
  height: 100px;
  font-size: 18px;
  /* margin: 10px; */
}

.title {
  font-family: var(--secondary-font);
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-sm {
  font-family: var(--secondary-font);
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-bar-container {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
  box-shadow: var(--main-box-shadow);
}
.search-bar {
  padding: 20px;
  flex-grow: 1;
  font-size: 16px;
  /* border-radius: 10px 0px 0 10px; */
  outline: none;
  border: none;
}

.search-button {
  border: none;
  width: 13%;
  max-width: 100px;
  transition: 0.1s;
  transition-timing-function: linear;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(228, 228, 228);
}

.welcome-name {
  font-size: 60px;
  margin: 10px;
  font-family: var(--secondary-font);
}
