.App {
  text-align: center;
  /* background: tan; */
  /* padding: 30px; */
}

.content {
  /* padding: 30px; */
}

.errors {
  color: red;
  font-size: 14px;
  line-height: 1px;
  font-style: italic;
}
