.brew-container {
  display: flex;
  flex-direction: column;
  position: relative;
  /* justify-content: space-around; */
  margin: auto;
  /* margin-top: 30px; */
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  width: 75vw;
  height: 50vh;
  overflow: hidden;

}

.map {
  /* flex: 8; */
  /* margin: auto; */
  position: relative;
  /* margin: 10px; */
}

.small-map {
  margin: auto;
  width: 500px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  overflow: hidden;
}

.brewList-map {
  /* flex: 2; */
  width: 23%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
  overflow: auto;
  height: 50vh;
  background: rgba(207, 207, 207, 0.7);
}

.brewList {
  width: 75vw;
  height: 25vh;
  margin: auto;
  overflow: auto;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.brew-card {
  border-bottom: 1px solid rgb(182, 182, 182);
  padding: 10px;
  line-height: 1.1;
  text-align: left;
}

.brew-card p {
  /* display: inline; */
  margin: 1px
}

.brew-location {
  font-size: 12px;
}

.brew-website {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.brewery-page {
  display: flex;
  /* justify-content: space-evenly; */
  margin: auto
}

.brewpage-description {
  text-align: left;
}

