.brew-container {
  /* display: flex; */
  /* flex-direction: column; */
  position: relative;
  margin: auto;
  overflow: hidden;
  /* background-color: #333; */
  background-color: var(--main-bg-color);
}

.small-map {
  margin: auto;
  /* width: 50vh; */
  height: 50vh;
  /* border: 3px solid rgba(0, 0, 0, 0.5); */
  border-radius: 15px;
  overflow: hidden;
}

.brewList-map {
  width: 23%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  height: 50vh;
  background: rgba(207, 207, 207, 0.7);
}

.brewList-container {
  /* height: 50vh; */
  display: inline-block;
  height: 100vh;
  width: 25vw;
  overflow: auto;
  /* box-shadow: 0px -40px 15px rgba(51, 51, 51, 0.267); */
}

.brewList {
  /* padding: 10px; */
  margin: 10px;
  /* border: 5px solid rgba(255, 235, 205, 0.288); */
  position: relative;

  /* background-color: var(--main-bg-color) */
  /* width: 90%; */
  /* height: 38vh; */
  /* margin: 0% 5% 0% 5%; */
}

.brew-card {
  padding: 10px 10px 0px 10px;
  text-align: left;

  /* line-height: 1.1; */
  /* border-bottom: 1px solid rgb(182, 182, 182); */
  /* flex: 50%; */
}

.brew-card span {
  color: var(--main-text-color);
  text-decoration: none;
  box-shadow: none;
  outline: none;
}

.brew-card a {
  color: var(--main-text-color);
  text-decoration: none;
  box-shadow: none;
  outline: none;
}

.brew-name-lrg {
  font-size: 35px;

  font-family: var(--secondary-font);
}
.brew-name {
  font-size: 20px;

  font-family: var(--secondary-font);
}

.brew-card p {
  /* display: inline; */
  margin: 1px;
}

.brew-location {
  font-size: 12px;
}

.brew-website {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.brewery-page {
  display: flex;
  /* justify-content: space-evenly; */
  margin: 30px;
}

.brewpage-description {
  text-align: left;
}

/* button {
  border-radius: 15px;
  padding: 2px;
  margin: 1px;
  width: 130px;
} */

.pan-to-on-map-btn {
  /* float: right; */
  border-radius: 15px;
  padding: 2px;
  margin-top: 4px;
  width: 130px;
  cursor: pointer;
}

.average-rating {
  font-size: 12px;
}
