.brew-container {
  display: flex;
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: var(--main-color);
}

.brewList-container {
  height: 100%;
  width: 27vw;
  min-width: 270px;
}

.brewList {
  height: 100vh;
  position: flex;
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.brewList::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* ------ BREW CARD STYLING ------ */
.brew-card {
  display: flex;
  line-height: 1.4;
  position: relative;
  padding: 10px 10px 12px 10px;
  text-align: left;
  transition: 0.25s;
  transition-timing-function: ease;
  border-bottom: solid 0.3px rgba(85, 84, 82, 0.041);
  border-top: solid 0.3px rgba(85, 84, 82, 0.041);
}

.brew-card:hover {
  background-color: rgba(85, 84, 82, 0.089);
  font-size: 1rem;
}

.brew-card:hover .brew-name {
  font-size: 26.9px;
  text-shadow: 5px 5px 1px rgba(150, 150, 150, 0.295);
}

.brew-location {
  font-family: var(--main-font);
  font-size: 14px;
  padding-bottom: 4px;
  margin: 1px;
}

.brew-website {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.average-rating {
  font-size: 12px;
}

.brew-card a {
  display: inline-block;
  font-weight: bold;
  color: var(--main-text-color);
  font-family: var(--main-font);
  text-decoration: none;
  box-shadow: none;
  outline: none;
}

/* ------ BREW NAME STYLING ------ */
.brew-name-lrg {
  font-size: 40px;
  font-family: var(--secondary-font);
  margin: 0;
}

.brew-name {
  font-size: 26px;
  letter-spacing: 0.7px;
  line-height: 1.3;
  font-family: var(--secondary-font);
  transition: var(--main-transition);
  transition-timing-function: ease-in;
  color: var(--main-text-color);
  text-decoration: none;
  box-shadow: none;
  outline: none;
}

.brew-name b {
  font-weight: lighter;
  transition: 0.3s;
}

.brew-name b:hover {
  font-size: 28.9px;
  color: rgb(15, 9, 0);
}

.brew-card b::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(173, 173, 173, 0.493),
    rgb(0, 0, 0)
  );
  transition: width 0.4s;
  transition-timing-function: ease-out;
}

.brew-card b:hover::after {
  width: 100%;
}

.flex-left {
  flex: 7;
}

.flex-right {
  flex: 1;
  text-align: right;
}

.link-icons {
  font-size: 30px;
  text-shadow: var(--main-text-shadow);
  transition: 0.2s;
}

.link-icons:hover {
  cursor: pointer;
  /* font-size: 32px; */
  color: var(--hover-color);
}

/* ------BREW PAGE STYLING------ */
.brewpage-container {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  /* width: 100%; */
}

.brewpage-nav {
  position: sticky;
  background-color: var(--main-color);
  top: 0;
  height: 60px;
  width: 100%;
  box-shadow: var(--main-box-shadow);
  z-index: 20;
}

.brewpage-content {
  text-align: left;
  /* margin-top: 60px; */
  margin: 10px 15px 10px 15px;
}

.brewpage-map {
  border-radius: 15px;
  overflow: hidden;
  margin: 10px 0 10px 0;
  float: left;
  /* min-width: 90%; */
}

/* .brewList-map {
  width: 23%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 50vh;
  background: rgba(207, 207, 207, 0.7);
} */
