.map-container {
  display: flex;
  flex-direction: row-reverse;
}

.locate {
  position: absolute;
  bottom: 40px;
  right: 80px;
  font-family: var(--secondary-font);
  font-size: 30px;
  height: 50px;
  width: 50px;
  font-style: italic;
  font-weight: bold;
  border: none;
  z-index: 10;
  cursor: pointer;
  border-radius: 20px;
  padding: 0.5rem;
  opacity: 0.6;
  background-color: white;
}

.locate:hover {
  box-shadow: var(--main-box-shadow);
  text-decoration: underline;
  opacity: 0.8;
}

/* GOOGLE MAPS INFOWINDOW CUSTOM CSS */
.gm-style .gm-style-iw-c {
  background: var(--main-color);
  padding: 0;
  /* overflow: hidden; */
}
