.bottom-nav {
  position: fixed;
  overflow: hidden;
  background-color: var(--main-color);
  bottom: 0;
  /* height: 6vh; */
  width: 100%;
  box-shadow: var(--main-box-shadow);
}

.bar .search {
}

.nav-icons {
  font-size: 40px;
  text-shadow: var(--main-text-shadow);
  transition: 0.2s;
  color: aliceblue;
  padding-left: 16px;
}

.nav-icons:hover {
  cursor: pointer;
  color: var(--highlight-color);
}

/* ------ HAMBURGER MENU STYLING ------ */

.bm-burger-button {
  position: fixed;
  padding: 2px;
  width: 30px;
  height: 30px;
  right: 14px;
  top: 14px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #2b2929ee;
  padding: 2.3em 1.5em 0 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  text-align: right;
}

/* Individual item */
.menu-item {
  display: inline-block;
  letter-spacing: 1px;
  /* margin: 10px; */
  font-size: 40px;
  text-decoration: none;
  color: aliceblue;
  font-family: var(--secondary-font);
  font-weight: bold;
  transition: var(--main-transition);
  cursor: pointer;
}

.menu-item p {
  font-family: var(--secondary-font);
  font-size: 45px;
  cursor: pointer;
  font-stretch: expanded;
  margin-bottom: 20px;
  transition: var(--main-transition);
}

.menu-item:hover {
  color: var(--highlight-color);
  /* font-size: 42px; */
}

/* .menu-item p:hover {
  color: var(--highlight-color);
  font-size: 46px;
} */

/* ------ Styling of overlay ------ */

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.search-text {
  width: 90%;
}

.submit:hover {
  background-color: rgb(211, 211, 211);
}
