.bar {
  position: relative;
  /* display: flex; */
  justify-content: space-between;
  top: 0;
  height: 62px;
  background-color: #333;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.774);
  z-index: 10;
}

.bar .search {
}

.app-name {
  display: block;
  position: absolute;
  float: left;
  font-family: "Lobster Two";
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  color: whitesmoke;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  /* padding: 8px; */
}

/* HAMBURGER MENU STYLING */
#menuToggle {
  display: block;
  position: absolute;
  padding: 16px;
  top: 0px;
  right: 0px;
  -webkit-user-select: none;
  user-select: none;
}

.nav-link {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: tomato;
  text-shadow: 4px 6px 4px rgba(153, 153, 153, 0.309);
}

#menuToggle input {
  display: block;
  position: absolute;
  width: 40px;
  height: 34px;
  top: 0px;
  right: 0px;
  margin-right: 13px;
  margin-top: 10px;
  cursor: pointer;
  opacity: 0;
  z-index: 15;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  position: relative;
  width: 33px;
  height: 5px;
  margin-bottom: 5px;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 14;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-4px, 1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -4px);
}

#menu {
  position: absolute;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 5px;
  right: 0px;
  background: #ededed;
  list-style-type: none;
  z-index: 9;
  border-radius: 0 0 0 10px;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 20px 5px 0px;
  font-size: 22px;
  text-align: right;
  font-family: "Roboto";
  font-weight: bold;
}

#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  transform: none;
}
