/* .bar {
  position: relative;

  justify-content: space-between;
  top: 0;
  height: 64px;
  background-color: rgba(51, 51, 51);
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.774);
  z-index: 10;
} */

.bottom-nav {
  position: fixed;
  overflow: hidden;
  background-color: var(--main-color);
  bottom: 0;
  /* height: 6vh; */
  width: 100%;
  box-shadow: var(--main-box-shadow);
}

.bar .search {
}

/* HAMBURGER MENU STYLING */

.bm-burger-button {
  position: fixed;
  padding: 2px;
  width: 30px;
  height: 30px;
  right: 14px;
  top: 14px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #2b2929ee;
  padding: 1em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  text-align: right;
}

/* Individual item */
.menu-item {
  display: inline-block;
  letter-spacing: 1px;
  /* margin: 10px; */
  font-size: 35px;
  text-decoration: none;
  color: aliceblue;
  font-family: var(--secondary-font);
  font-weight: bold;
  transition: var(--main-transition);
}

.menu-item p {
  font-family: var(--secondary-font);
  font-size: 41px;
  cursor: pointer;
  font-stretch: expanded;
}

.menu-item:hover {
  color: var(--highlight-color);
  font-size: 42px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.search-text {
  width: 90%;
}

/* .main-btn-style {
  cursor: pointer;
  font-family: var(--secondary-font);
  font-weight: bold;
  width: 10;
} */

.submit:hover {
  background-color: rgb(211, 211, 211);
}
