/* .search-bar {
}

.search-text {
  width: 80%;
}

.search-bar input {
  display: inline;
  padding: 0.7rem;
  font-size: 16px;
  margin: 6px;
  border-style: hidden;
  border-radius: 10px;
}

.submit {
  cursor: pointer;
  font-family: "Roboto";
  font-weight: bold;
}

.submit:hover {
  background-color: rgb(211, 211, 211);
} */
