.signup-form input {
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  font-size: 18px;
  margin: 10px;
  /* border-style: ridge; */
}

.signup-form h1 {
  font-size: 30px;
  margin: 10px;
}

.signup-form label {
  font-size: 20px;
  line-height: 1.8;
}

.submit-btn {
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}
